*{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
}
body{
				width: 100%;
				height: 100vh;
				background: linear-gradient(90deg,#6a78ff,#c46aff) no-repeat;
				
}
.how{
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;
}

.one{
				width: 150px;
				height: 220px;
				background: tomato;
				border-radius: 50% 50% 30% 0;
				transform: rotateZ(-45deg) translateX(47%);
				z-index: 1;
				transition: all .5s ease ;
}
.two{
				width: 150px;
				height: 220px;
				background: tomato;
				border-radius: 50% 50% 0 30%;
				transform: rotateZ(45deg) translateX(-47%);
				z-index: 1;
				transition: all .5s ease ;
}
.three {
				content: '';
				position: absolute;
				width: 160px;
				height: 160px;
				border-radius: 50%;
				transform: translateY(-25%);
				background: #fff;
				z-index: 0;
				opacity: 0;
}
.notification{
				position: absolute;
				z-index: 2;
				top: 45%;
				font-size: .9rem;
				color: #fff;
				background: rgba(255,255,255,.3);
				padding: 30px 40px;
				border-radius: 10px;
				text-align: start;
				backdrop-filter: blur(10px);
				animation: not 3s infinite;	
}
.notification::before{
				content: 'Notification.';
				font-size: .7rem;
				position: absolute;		
				top: 10px;
				left: 10px;
				opacity: .8;
				padding: 0 0 30px 0;
}

.active{
				animation: heart 1.2s infinite;
				transition: all .5s ease ;			
				animation-delay: .3s;
				opacity: 1;
}
.text{
				color: #fff;
				position: absolute;
				top: 40%;
				transition: all 1.7s ease;
				animation: text 2s ;
				animation-delay: 2.5s;
				font-size: 1.5rem;
}


.down{
					position: absolute;
					width: 34px;
					height: 70px;
					top: 85%;
					border: 2px solid #fff;
					border-radius: 50px;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					animation: downer 1.7s infinite;
					z-index: 3;
}
.active-down{
				display: flex;
				transition: all 2s ease;
}

.down span{
				width: 12px;
				height: 12px;
				display: block;
				border-right: 3px solid #fff;
				border-bottom: 3px solid #fff;
				transform: rotateZ(45deg);
				transition: all 1s ease;
				animation: down 1.7s ease infinite;
}

.down span:nth-child(1){
				animation-delay: .4s;
}
.down span:nth-child(2){
				animation-delay: .3s;
}
.down span:nth-child(3){
				animation-delay: .1s;
}

@keyframes not {
				0%{
								border-color: #fff;
								border-width: 0px;
								border-style: solid;
				}
				50%{
								border-color: #fff;
								border-width: 2px;
								border-style: solid;
								box-shadow: 0 0 10px rgba(255,255,255,.5);
				}
				100%{
							 border-color: #fff;
								border-width: 0px;
								border-style: solid;	
				}
}

@keyframes down {
				0%{
								opacity: 0;
								transform: translateY(-20px) rotateZ(45deg);
				}
				50%{
								opacity: 1;
								transform: translateY(0px) rotateZ(45deg);
				}
					100%{
								opacity: 0;
								transform: translateY(0px) rotateZ(45deg);
				}
}

@keyframes downer {
				0%{
								
								transform: translateY(10px);
				}
				50%{
								transform: translateY(20px);
				}				
				100%{
								transform: translateY(10px);
				}						
}


@keyframes text {
				from{
								opacity: 0;
								transform: translateY(40px);
								font-size: 1.5rem;
				}
				to{
								opacity: 1;
								transform: translateY(0px);
				}
}


@keyframes heart {
				0%{
								box-shadow: 0 0 0 20px rgba(255,255,255,1);
				}
				100%{
								box-shadow: 0 0 0 130px rgba(255,255,255,0);
				}
}


.wins{
				width: 100%;
				height: 100%;
				position: absolute;
				background: rgba(0,0,0,.5);
				z-index: 10;
}
.main{
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 20;
				transition: 1s ease ;
}
.music{
				position: absolute;
				width: 100%;
				height: 300px;
				
				top: -100%;
				border-radius: 0 0 15px 15px;
				
				background: rgba(255,255,255,1);
				display: flex;
				flex-direction: column;
				
				transition: 1s ease ;
				color: #000;
}
audio{
				padding: 60px 50px;
				width: 100%;
				height: 150px;
				background: #ececec;
				border-radius: 15px;
}
.main h3{
				font-size: 3rem;
				font-weight: 300;
				padding: 15px 20px 5px 10px;
}
.main p{
				color: #000;
				padding-bottom: 50px;
				padding-left: 15px;
}

.active-top{
				top: 0;
				transition: 1s ease ;
}
.active-body{
				backdrop-filter: blur(10px) brightness(70%);				
				transition: 1s ease ;
}



/* 
1 #FFC1C3 #FFDEA1
2 #E0A9FF #FFA5CD
3 #B2E2FF 30%, #CDFFCE 100%
4 #FF6B9F 30%, #9FA1FF 100%
5 #765AFF 30% , #BB19FF 100%





